{% extends 'dynamo_kiev/layout.html' %}

{% block title %}Freedom{% endblock %}

{% block content %}
    <div class="features">
        <h1> Main page</h1>
        <p>Мы играли против команды, которая действовала агрессивно и с большой самоотдачей. Они ждали ошибок с нашей
            стороны, чтобы выйти в контратаку и забить мяч. Было тяжело вскрывать их оборону. Мы доминировали, результат
            показал соотношение сил на поле. К сожалению, мы забили только один мяч. Надеемся, эта победа даст нам
            достаточно позитивных эмоций во время подготовки к матчу Лиги Европы с кипрским АЕКом.</p>
        <button class="btn btn-warning">On page about us</button>
    </div>
{% endblock %}